.item {
    max-height: 80vh;
    display: block;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin: 0 auto;
        object-position: center;
    }
}

.land_size {
    display: inline-block;
    text-align: center;
    &.text-left {
        text-align: left;
    }
    background-color: var(--ion-color-primary-contrast);
    span {
        padding-left: 15px;
        padding-right: 15px;
        background: var(--ion-color-primary);
        color: var(--ion-color-primary-contrast);
        display: block;
    }
    label {
        display: block;
        border: 1px solid var(--ion-border);
    }
}
.address {
    ion-icon {
        font-size: 30px;
        margin-right: 10px;
    }
    span {
        font-size: 20px;
        width: calc(100% - 40px);
    }
}
.price {
    span {
        font-size: 20px;
    }
}
.house-info {
    font-size: 30px;
    ion-icon {
        margin-right: 7px;
    }
    .blog-section {
        margin-right: 20px;
    }
}

owl-carousel {
    ::ng-deep {
        owl-carousel-child {
            --bs-gutter-x: 0 !important;
        }
    }
}
